fastapi
uvicorn[standard]
python-multipart

jinja2

yt-dlp
youtube-transcript-api
speechmatics-python
reportlab
pytesseract
Pillow

sentence-transformers
transformers
torch
numpy
tqdm
rank-bm25

google-genai
requests
